@media only screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  /* cta section  */
  #call-to-action {
    padding: 2rem;
    font-size: 10px;
  }
  .cta-img-1 {
    display: none;
  }
  /* ******** our services******/
  .service-flex-container {
    width: 50%;
    justify-content: space-evenly;
  }

  /* ******************our values******************** */

  @media screen and (max-width: 800px) {
    .company-values {
      width: 50%;
    }
  }
  @media screen and (max-width: 500px) {
    .company-values {
      width: 100%;
    }
  }

  /* ****************** */

  /* our work */
  #work {
  }
  .work-container-3 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .container-3 img {
    /* padding: 1rem; */
  }

  /* ********* */
  .card {
    display: block;
  }
  .card .blog-img-container {
    height: 250px;
    width: 100%;
  }
  .card-content {
    border: 0;
    border-top: 1px solid #ccc;
  }
  /* about section */

  /* our team */
  .team-row {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    justify-content: space-evenly;
    gap: 1rem;
  }
  /* careers */

  /* footer  */
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 90%;
    }
  }
}

/* ********************************  below 400px***********************************************************/

@media only screen and (max-width: 400px) {
  html,
  body {
    scroll-behavior: smooth;
    margin: 0;
  }
  /* cta section  */
  #call-to-action {
    padding: 2rem;
    font-size: 10px;
  }
  .cta-img-1 {
    display: none;
  }
  /* ******* our work***********/
  .work-container-3 {
    padding: 1rem;
  }
  

  /* ******************our values******************** */

  @media screen and (max-width: 800px) {
    .company-values {
      width: 50%;
    }
  }
  @media screen and (max-width: 500px) {
    .company-values {
      width: 100%;
    }
  }

  /* ****************** */

  .card {
    display: block;
  }
  .card .blog-img-container {
    height: 250px;
    width: 100%;
  }
  .card-content {
    border: 0;
    border-top: 1px solid #ccc;
  }
  /* about section */

  

  /* our team */
  .team-row {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    justify-content: space-evenly;
    gap: 1rem;
  }
  /* careers */

  /* footer  */
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 90%;
    }
  }
}
