* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */

.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 10px 10px;
  margin: 1rem;
  /* animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

a {
  color: #000;
  text-decoration: none !important;
}

/* button to go up */
#myButton {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #020429;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myButton:hover {
  background-color: #555;
}

/* ***********************navabar */
*/ .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #1221dc;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  display: block;
}

.topnav a.icon {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: black;
}

/* ****************************************** */
/* call to action section */

#call-to-action {
  padding: 8em;
}

/* css animation for cta image in home page */
.cta-img-1 {
  width: 35%;
  float: right;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 35px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
/***************************************/

.cta-heading-section h1 {
  padding: 40px;
  font-size: 600%;
  font-weight: 800;
}
h1 .h1-color-change {
  color: #1221dc;
}

/*  */
.cta-heading-section h3 {
  font-size: 150%;
  padding: 30px;
  margin: 20px;
  color: rgb(99, 99, 99);
}

/* .cta-btn {
  background-color: #1221dc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 12px;
  margin: 3.5rem;
}
.cta-btn:hover {
  color: #fff;
} */
/******************************************* our services */

#service-container {
  background-color: #1221dc;
}

.service-heading {
  color: #fff;
  text-align: center;
  text-decoration: underline #fff dotted;
  padding:2rem;
}

.service-box {
  background-color: #fff;
  text-align: justify;
  padding: 40px;
  margin: 50px;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  transition: 2s;
}

.service-box:hover {
  background-color: rgb(12, 16, 32);
  border-radius: 50px;
  color: #fff;
}
.service-box h2 {
  font-size: 16px;
  text-align: center;
  text-decoration: underline solid;
  text-decoration-style: wavy;
  padding: 12px;
}

.service-btn {
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
.service-btn-link {
  text-decoration: none;
  color: #1221dc;
}
/* ***************************************************** */

/* +++++++++++++++++++++++++++++++our values+++++++++++ */

.core-values {
  margin: 1rem;

  text-align: center;
}
.core-values h1 {
  display: inline-block;
  color: #1221dc;
  text-transform: uppercase;
  text-decoration: underline #1221dc dotted;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.company-values {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.company-values:hover {
  background: #ddd;
}
.company-values i {
  color: #1221dc;
  font-size: 34px;
  margin-bottom: 30px;
  transform-origin: 50% 50%;
  animation: jump 0.5s linear alternate infinite;
}

/* icons animation */

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1);
  }
  100% {
    transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
  }
}

.company-values h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.company-values p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
/* *************** */
/* our work section */
#work {
  padding: 2rem;

  background-color: #1221dc;
}

.w-heading {
  text-align: center;
  padding: 10px;
  color: #fff;
  padding: 1rem;
  text-decoration: underline #fff dotted;
}
.work-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
  gap: 20px;
  background-color: #1221dc;
  padding: 3rem;
}
.work-container-3 img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.work-container-3 img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.work-btn {
  display: flex;
  justify-content: center;
}
.btn-4 {
  padding: 10px;
  background-color: #fff;
  border: none;

  border-radius: 12px;
}
/* margin-left:45rem; */

/* ************************************* */

/* about section */
#about {
 padding: 30px;
 font-size: 30px;
}
.A-heading {
  color: #1221dc;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline #1221dc dotted;
  margin: 20px;;
}


.tab {
  overflow: hidden;
  background-color: #fff;
display:flex;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 10px;
  transition: 0.1s;
  font-size: 15px;
}

/* Change background color of buttons on hover */

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1221dc;
  color:#fff
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 16px 25px 20px 20px;
  font-size: 30px;
}
.tabcontent-heading{
  font-weight: bold;
}
/* ******************************************************************************/

/* +++++++++++++++++***************our team */
#our-team {
  background-color: #1221dc;
  padding: 2rem;
}
.team-heading {
  color: #fff;
  text-align: center;
  /* padding: 1rem; */
  text-decoration: underline #ffffff dotted;
}
.team-content {
  margin: 2rem;
  color: #fff;
  min-width: 50%;
  font-style: italic;
  text-align: center;
  font-weight: 100;
}
.team-row {
  display: flex;
  justify-content: space-between;
  /* gap:5rem; */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
}

.btn-item {
  display: flex;
  justify-content: center;
}
.btn-6 {
  background-color: #fff;
  color: #1221dc;
}
.btn-6:hover {
  color: #1221dc;
}
/* ************************* */
/* careers */
#careers-container {
  margin: 3rem;
}
.careers-heading {
  color: #1221dc;
  margin: 20px;
  text-align: center;
  text-decoration: underline #1221dc dotted;
  margin: 1rem;
}
/* form section in careers */
.form-heading {
  font-size: 20px;
  color: #1221dc;
}
.form-body {
  color: #000;
}
.form-submit-btn {
  background-color: #1221dc;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
}




/* ************************************************* */

/* contact section */

.Contact-heading {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  text-decoration: underline #ffffff dotted;
}
.contact-container {
  background: #1221dc;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
}
/* .contact-container .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container .contact-content .left-side {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
} */
/* .contact-content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
} */
.contact-content {
  display: flex;
  justify-content: center;
}
.contact-content .left-side .details {
  text-align: center;
  margin: 4rem;
}
.contact-content .left-side .details i {
  font-size: 50px;
  color: #fff;
}
.contact-content .left-side .details .topic {
  /* font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin: 1rem; */
}
.contact-content .left-side .details .text-one,
.contact-content .left-side .details .text-two {
  font-size: 20px;
  color: #fff;
}
/* 
.contact-container .contact-content .right-side {
  width: 100%;
  margin-left: 75px;
}
.contact-content .right-side .topic-text {
  padding: 1rem;
  font-size: 18px;
  color: #1221dc;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 1rem;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #1221dc;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  margin-left: 15px;
} */
.btn-mail {
  background: #fff;
  color: #1221dc;
  padding: 5px;
  border-radius: 8px;
}
/* ************************ */

/* footer */

.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #fff;

  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #1221dc;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #1221dc;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #1221dc;
  text-decoration: none;
  font-weight: 300;
  color: #1221dc;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #1221dc;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #1221dc;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #1221dc;
}
/* map section */

.footer-bottom {
  text-align: center;
  padding: 1rem;
  background-color: #1221dc;
  color: #fff;
}
